/* navigatioj */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home */
#home{
 height: 370px;
 padding: 3px 68px;
 
}
#home::before{
 height: 480px;
 
}
#home p{
    font-size: 13px;
}
/* services */
#services{
    margin: 1px -22px;
 flex-direction: column;
}
#services .box img{
    width: 150px;
}
#services .box{
    font-size: 1.0rem;
    text-align: center;
    background-color:rgb(255 248 248);
    border-radius: 15px;
    margin: 4px 32px;
  border: 2px solid red;
}
.services-container {
    height: 1020px;
}

/* client section */
#clients{
    flex-wrap:wrap;
}
#clients img{
   width: 293px;
   padding: 2px 6px;
   height: auto;
}
#client-section::before {
 height: 420px;
}

/* contact us section */

#contact-box form{
    width: 80%;
}
/* footer */


/* utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}